
 *{
    
     font-family: 'Philosopher', sans-serif;
 }

.header {
    height: 100vh;
    min-height: 500px;
    background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('media/header2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
.header::after{
    position: absolute;
    content: "Vetrina Carousel fullBg";
    top: 10%;
    left: 35%;
    color: var(--accent);
    font-size: 50px;
}

 :root{
     --accent:rgb(20, 66, 27);
     --main:rgb(43, 28, 7);
 }

 .text-accent{
     color: var(--accent);
 }

 .text-main{
     color: var(--main);
 }

 .bg-accent{
     background-color: var(--accent);
 }

 .bg-main{
     background-color: var(--main);
 }
  
  a {
      color:inherit;
      text-decoration:none;
    }

   body,html{
    overflow:hidden;
    /* height:100%;   */  
  } 
  #wrap{
    position:absolute;
    left:0; top:0;
    width:150%;
    height:100%;
    display:flex;
    align-items:stretch;
    margin:0 25%;
  }
  .hb {
    position:relative;
    width:25%;
    z-index:1;
    display:flex;
    align-items:center;
    z-index:2;
    transform:scale(.97);
  }
  .c{
    position:relative;
    display:block;
    max-width:90%;
    
  }
  .c img {
    position:relative;
    display:block;
    width:100%;
    height:auto;
    z-index:2;
  }
  .txt {
    position:absolute;
    top:100%; left:10%;
    width:80%;
    opacity:0;
    padding:1em 0 0 1em;
    border-left:1px solid;
    z-index:1;
    transform:scaleY(1) translateY(-50px);
    transition:transform .2s, opacity .5s;
  }
  h1 {
    color: var(--accent);
    font-size:2em;
    font-weight:700;
    text-transform:uppercase;
  }
  .hb:hover .txt {
    background-color: rgba(255,255,255,0.8);
    opacity:1;
    transform:scaleY(1) translateY(0);
  }

  .hb:hover .header::after {
   color: rgb(43, 28, 7);
  }
  
  .fullBg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition:transform .5s, opacity .5s;
    transform:scale(1);
    z-index:1;
  }
  .fullBg img {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    opacity:.5;
  }
  .hb:hover + .fullBg {
      opacity:1;
      transform:scale(1.02);
    }

  .credits {
    position:fixed;
    bottom:0;right:0;
    padding:1.5em;
    font-size:.8em;
    text-align:right;
    font-style:italic;
    opacity:.8;
    transition:opacity .2;
    z-index:3;
  }
  .credits:hover {
    text-decoration:underline;
    opacity:1;
  }

  .h-custom{
      height: 350px !important;
  }

  @media only screen and (max-width:550px){
    .h-custom{
        height: 150px !important;
    } 
    h1 {
        color: var(--accent);
        font-size:1.2em;
        font-weight:700;
        text-transform:uppercase;
      }
      .header::after{
        position: absolute;
        content: "Vetrina Carousel fullBg";
        top: 10%;
        left: 20%;
        color: var(--accent);
        font-size: 25px;
    }
  }

  p{
      color: var(--main);
  }

  .btn-accent{
    background: 
    linear-gradient(to right, var(--accent) 2px, transparent 2px) 0 0,
    linear-gradient(to right, var(--accent) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--accent) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--accent) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, var(--accent) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--accent) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, var(--accent) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--accent) 2px, transparent 2px) 100% 100%
    ;

    background-repeat: no-repeat;
    background-size: 10px 10px;
    transition: 0.4s;
  }

  .btn-accent:hover{
    letter-spacing: 4px;
}

.leaves{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('media/leaves2.png');
  animation: animate 60s linear infinite;
}

@keyframes animate{
  from{background-position: 0px;}
  to{background-position: -5440px;}
}